body{
	font-family: 'Delicious Handrawn', cursive;
	background: rgb(184,228,242);
	background: linear-gradient(33deg, rgba(184,228,242,1) 29%, rgba(234,193,241,1) 71%);
}

p{
	font-size:22px;
}

#header{
	display:flex;
	justify-content: center;
	align-items: center;
}

#size{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 25px;
	border-bottom:#000 2px solid;
	gap: 10px;

}

#size-container{
	display: flex;
	justify-content:flex-end;
	align-items: center;

}
#size-container > #input{
	height: 50px;
	width: 100%;
	cursor: pointer;
	opacity: 0.7;

}


#container{
	margin-top: 45px;
	display: flex;
	justify-content:space-evenly;
	flex-wrap: wrap;

}

#buttons{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 550px;
	margin: 0px;
	padding: 0px;
	

}

.button{
	height: 50px;
	width: 300px;
	border-radius: 3%;
	border: solid black 2px;
	box-shadow: 10px 10px 8px black;
	background-color: hsl(347, 100%, 97%);
	font-family: 'Delicious Handrawn', cursive;
	font-size: 25px;
	font-weight: 800;

}

.button:hover{
	transform: scale(1.05);
}

.button:active{
	background-color: rgba(234,193,241,1);
}

#grid-container{
	flex-shrink: 0;
	background-color: hsl(347, 100%, 97%);
	outline:2px solid #000;
	font-size: 0;
	width:550px;
	height: 550px;
	border:none;
	box-shadow: 10px 10px 8px black;
	margin-bottom: 100px;

    
}

.box{
    margin:0px;
    padding:0px;
    border:none;
    outline:2px solid #000;
    display: inline-block;
}

#footer{
	margin: 0px 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	border-top: black 1px solid;
}

.toBlack{
	background-color: black;
}